# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/

# Packaging
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

#Mock Data
tui_md_todo.egg-info/
.todo/
